{% extends 'base.html' %}
{% block content %}
<div class="article-entry">
<h2>{{ object.title }}</h2>
<p>by {{ object.author }} | {{ object.date }}</p>
<p>{{ object.body }}</p>
</div>
<div class = "card-header">
    <span class = "font-weight-bold">Comment Section</span>
</div>
<div class="card-body">
    {%for comment in article.comments.all%}
    <span>{{comment.author}} &middot; {{comment}}</span><hr>
    {%endfor%}
<form action="" method="post">{% csrf_token %}
{{ form }}
<button class="btn btn-info ml-2" type="submit">Comment</button>
</form>
</div>
<div class="card-footer">
<p>{%if article.author == user %}
    <a href="{% url 'article_edit' article.pk %}">Edit</a> | <a href="{% url 'article_delete' article.pk %}">Delete</a></p>
    {%endif%}
    <p>Back to <a href="{% url 'article_list' %}">All Articles</a>.</p>
    {% endblock content %}
</div>
{% block comm %}
<form action="" method="post">{% csrf_token %}
{{ form }}
<button class="btn btn-info ml-2" type="submit">Comment</button>
</form>
{% endblock %}